<div class="readonly-data">
  <ul class="nav nav-tabs" data-remote="true" data-default-tab="close_to_expire">
    <li>
      <a href="#close_to_expire" data-toggle="tab" data-remote-url="<%= close_to_expire_payments_path_with_params %>">
        <%= t('view.payments.close_to_expire') %>
      </a>
    </li>
    <li>
      <a href="#expired" data-toggle="tab" data-remote-url="<%= expired_payments_path_with_params %>">
        <%= t('view.payments.expired') %>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="close_to_expire"></div>
    <div class="tab-pane" id="expired"></div>
  </div>
</div>

<nav class="form-actions">
</nav>
