<% @note = @noteable.notes.select(&:new_record?).try(:first) || @noteable.notes.build %>
<%= simple_form_for([@noteable, @note], data: { remote: true } ) do |f| %>

  <%= f.input :note, label: false, 
    input_html: { rows: 2, class: 'span12', placeholder: Note.human_attribute_name('note') }
  %>

  <%= f.button :submit, class: 'btn-mini' %>
  <span class="muted">|</span>
  <small>
    <%= link_to(
      t('label.cancel'), '#', 
      data: { show_siblings: "[data-schedule-id=\"#{@noteable.to_param}\"]"} 
    ) %>
  </small>
<% end %>
