<h2><%= empty_schedules_text %></h2>

<p class="lead">
  Para crear uno podés hacer clic sobre el enlace
  <a class="iconic">&#xe079;</a> en los préstamos
  vencidos o por vencer
</p>

<%  if can? :create, Schedule %>
  <hr />

  <p>
    También podés crear un evento sin asociarlo a un préstamo desde
    <%= link_to(
      t('view.schedules.new', default: :'label.new'),
      new_schedule_path, class: 'btn btn-primary', data: { remote: true }
    ) %>
  </p>
<% end %>
