<%= render "#{@schedulable.class.to_s.pluralize.downcase}/#{@schedulable.class.to_s.downcase}_info" %>
<div class="row-fluid" data-schedulable data-schedulable-id="<%= @schedulable.to_param %>">
  <div class="span12"><%= render(template: 'schedules/new', formats: [:html]) %></div>
</div>
