<%= content_for :sidebar do %>
  <div data-calendar-container="true">
    <div data-calendar-month="true"></div>
  </div>

  <%= javascript_tag do %>
    $(document).ready(function() {
      <%= render(template: 'schedules/index', formats: [:js]) %>
    });
  <% end %>
<% end %>
