<%= content_for :sidebar do %>
  <div data-calendar-container>
    <div data-loading class="alert">
      <strong><%= t('label.loading') %></strong>
    </div>
    <div data-calendar-month></div>
  </div>
<% end %>
