<div class="readonly-data">
  <div data-calendar-container>
    <div data-loading class="alert">
      <strong><%= t('label.loading') %></strong>
    </div>
    <div class="row-fluid">
      <div class="span3" data-calendar-month></div>
      <div class="span9" data-calendar-day></div>
    </div>
  </div>
</div>
<div data-schedule-modal></div>
<div class="form-actions"></div>
