<% if @schedules.empty? %>
  <%= render 'empty_index' %>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      <ul>
        <%= render @schedules %>
      </ul>
    </div>
  </div>

  <%= pagination_links(@schedules) %>

  <p>
    <%= link_to(
      t('view.schedules.new', default: :'label.new'),
      new_schedule_path, class: 'btn btn-primary'
    ) if can? :create, Schedule %>
  </p>
<% end %>
