<div class="row-fluid">
  <div class="span12">
    <% if @schedules.empty? %>
      <%= render 'empty_index' %>
    <% else %>
      <ul>
        <%= render @schedules %>
      </ul>

      <p>
        <%= link_to(
          t('view.schedules.new', default: :'label.new'),
          new_schedule_path, class: 'btn btn-primary', data: { remote: true }
        ) if can? :create, Schedule %>
      </p>
      <div data-new-schedule-place-holder></div>
    <% end %>
  </div>
</div>
