<div id="schedule_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="scheduled_label" aria-hidden="true">
  <% if @schedule.schedulable %>
  <div class="modal-header">
    <div id="scheduled_label" class="well well-small">
      <%= @schedule.label %>
    </div>
  </div>
  <% end %>
  <div class="modal-body">
    <%= render 'form' %>
  </div>
  <div class="modal-footer"></div>
</div>
