<div id="schedule_modal" class="modal hide fade">
  <div class="modal-header">
    <h4 id="scheduled_label"><%= header %></h4>
  </div>
  <div class="modal-body"><%= body %></div>
  <div class="modal-footer">
  <% if cancel %>
    <%= link_to(
      t('label.cancel'), '#', data: { dismiss: 'modal', aria_hidden: true }
    ) %>
  <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#schedule_modal').modal().on('shown', function(){
      $(this).find('textarea:first').focus();
    });
  });
<% end %>
