<div class="schedule-info">
  <% if @schedule.schedulable %>
    <div><%= render @schedule.schedulable %></div>
  <% end %>

  <div>
    <%= link_to(t('label.close'), '#', class: 'btn btn-mini',
      data: { remove_target: "[data-info-id=\"#{@schedule.to_param}\"] *" }
    ) %>
  </div>
</div>
