<div class="readonly-data" id="date-filter-<%= action_name %>">
  <div class="btn-group">
    <%= link_to_loan_date_filter(t('view.filters.today'), start: Date.today) %>
    <% 5.times do |i| %>
      <% date = (i + 1).day.from_now.to_date %>
      <% label = date == Date.tomorrow ? t('view.filters.tomorrow') : l(date, format: :short) %>
      <%= link_to_loan_date_filter(label, start: date) %>
    <% end %>
  </div>
</div>
