<%= content_for :summary do %>
  <div class="summary affix hidden-print">
    <div class="container">
      <div class="content">
        <div class="row-fluid">
          <div class="span9 offset<%= offset ||= 3 %>">
            <%= render 'topbar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
