<div class="pull-right tag-actions hidden-desktop">
  <%= link_to_new(new_tag_tag_path(tag), remote: true) if tag.root? %>
  <%= link_to_edit edit_tag_path(tag), remote: true %>
  <%= link_to_destroy tag_path(tag), remote: true %>
</div>
