<div class="pull-right tag-actions">
  <%= link_to(
    content_tag(:span, '&#xe008;'.html_safe, class: 'iconic'), new_tag_tag_path(tag), 
    remote: true
  ) if tag.root? %>
  <%= link_to content_tag(:span, '&#x270e;'.html_safe, class: 'iconic'), edit_tag_path(tag), remote: true %>
  <%= link_to_destroy tag_path(tag), remote: true %>
</div>
