<ul class="nav nav-list" data-user-tags="true">
  <li class="nav-header"><%= Tag.model_name.human(count: 0) %></li>
  <% current_user.tags.each do |tag| %>
    <li data-user-tag-id="<%= tag.id %>">
      <%= link_to tag.name, [action_name, tag, 'loans'], class: @tag == tag ? 'active' : '' %>
    </li>
  <% end %>
  <li class="divider"></li>
  <li>
    <%= link_to t('view.tags.new'), new_tag_path, data: { remote: true } %>
    <div data-new-tag="tag"></div>
  </li>
</ul>
