<ul class="nav nav-pills nav-stacked" data-tags-zones="true">
  <li>
    <div class="accordion" id="accordion_zones">
      <div class="accordion-group">
        <div class="accordion-heading">
          <%= link_to Zone.model_name.human(count: 0), '#zones', 
            class: 'accordion-toggle', 
            data: { toggle: 'collapse', parent: '#accordion_zones' } 
          %>
        </div>
        <div id="zones" class="accordion-body collapse <%== 'in' if @zone %>">
          <div class="accordion-inner">
            <ul class="nav nav-pills nav-stacked">
              <% @zones.each do |zone| %>
                <li <%== 'class="active"' if zone == @zone %>>
                  <%= link_to zone.name, [action_name, zone, 'loans'] %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
