<ul class="nav nav-pills nav-stacked" data-tags-zones="true">
  <li>
    <div class="accordion" id="accordion_zones">
      <div class="accordion-group">
        <div class="accordion-heading">
          <%= link_to t('view.tags.zones'), '#zones', 
            class: 'accordion-toggle', 
            data: { toggle: 'collapse', parent: '#accordion_zones' } 
          %>
        </div>
        <div id="zones" class="accordion-body collapse <%== 'in' if @tag && @tag.is_zone? %>">
          <div class="accordion-inner">
            <ul class="nav nav-pills nav-stacked">
              <% @tags.each do |tag| %>
                <li <%== 'class="active"' if tag == @tag %>>
                  <%= link_to tag.name, [action_name, tag, 'loans'] %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
