<li class="dropdown<%== ' active' if controller_name == 'loans' %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t('menu.clients') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('view.loans.close_to_expire'), close_to_expire_loans_path %></li>
    <li><%= link_to t('view.loans.expired'), expired_loans_path %></li>
  </ul>
</li>
