<%= content_for :sidebar do %>
  <%= render 'tags/zones' %>
  <%= render 'user_tags' %>

  <div class="tag_new">
    <%= link_to(
      t('view.tags.new'), new_tag_path, class: 'btn btn-mini', data: { remote: true }
    ) %>
  </div>
  <div data-tags-new="true"></div>
<% end %>
