form[data-scheduled-form] {
  margin: 0;
  padding: 10px;

  .alert { margin: 0 0 10px; }
}

.strike {
  text-decoration: line-through;
}

input[type="checkbox"].margin-less {
  margin: 0px;
}

.ui-datepicker .has_event > a {
  color: #c09853;
  background-color: #fcf8E3;
  border: 1px solid #fbeed5;
}
