div[data-schedule-info] {
  margin: 10px 0;
  & .alert { margin-bottom: 10px; }
}

form[data-scheduled-form] {
  margin: 0;
  padding: 10px 0;

  & textarea { 
    margin-bottom: 4px;
    padding: 10px 6px;
  }
}

.strike {
  text-decoration: line-through;
}

div[data-calendar-day] .page-header {
  margin: 0 0 15px;

  & h4 { margin: 0; }
}

input[type="checkbox"].margin-less {
  margin: 0px;
}

#scheduled_label {
  margin: 0;
}

.ui-datepicker {
  width: auto;

  td .ui-state-default {
    padding: 0.4em 0.1em;
  }

  & .has_event > a {
    color: #c09853;
    background-color: #fcf8E3;
    border: 1px solid #fbeed5;

    &:hover {
      color: #fff;
    }
  }
}
