form[data-scheduled-form] {
  margin: 0;
  padding: 10px;

  .alert { margin: 0 0 10px; }
}

.strike {
  text-decoration: line-through;
}

input[type="checkbox"].margin-less {
  margin: 0px;
}

#scheduled_label {
  margin: 0;
}

.ui-datepicker {
  width: auto;

  td .ui-state-default {
    padding: 0.2em 0.1em;
  }

  & .has_event > a {
    color: #c09853;
    background-color: #fcf8E3;
    border: 1px solid #fbeed5;
  }
}
