ul[data-tags-all] {
  margin-bottom: 10px;
}

ul[data-tags-zones] {
  margin-bottom: 10px;

  .accordion { margin-bottom: 0; }
}

ul[data-tags-user] {
  padding: 0 8px;
}

div[data-tags-new] {
  form { margin: 10px 0; }

  .btn-group .btn {
    margin-bottom: 10px;

    input[type="radio"] { display: none; }

    span { visibility: hidden; }

    &.selected {
      span { visibility: visible; }
    }
  }
}
