ul[data-tags-all] {
  margin-bottom: 10px;
}

ul[data-tags-zones] {
  margin-bottom: 10px;

  .accordion { margin-bottom: 0; }
}

ul[data-tags-user] {
  padding: 0 5px;

  li[data-user-tag-id], .tag_new {
    position: relative;

    a { 
      margin: 0; 
      padding: 3px 15px 3px 5px;

      &.edit_tag { 
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 10px;
      }
    }

    &:hover { background-color: #eee; }
    &.active {
      background-color: #0088CC;
      color: #FFFFFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

div[data-tags-new] {
  form { margin: 10px 0; }

  .btn-group {
    margin-bottom: 10px;
  
    .btn {
      padding: 0.5em 0.7em;
      input[type="radio"] { display: none; }

      span { visibility: hidden; }

      &.selected {
        span { visibility: visible; }
      }
    }
  }
}
