.accordion {
  margin-bottom: 10px;

  ul.nav { margin-bottom: 0; }

  .accordion-group {
    li {
      position: relative;

      a.accordion-toggle, div.tag-actions {
        position: absolute;
        padding: 0;
        margin: 0;
      }
      a.accordion-toggle { top: 8px; left: 5px; }
      div.tag-actions { top: 5px; right: 5px; }

      a.root-tag {
        vertical-align: top;
        zoom: 1;
        margin: 0;
        padding: 8px;
        text-indent: 20px;
        border-radius: 4px;
      }
      &.active { a { color: #fff; } }
      &:hover { .tag-actions { display: inline !important; } }
    }
  }

  .accordion-inner {
    padding: 2px;
    > a { padding: 4px 30px; }
  }
}

.navtags {
  margin: 1px 10px 0;

  > li > a { margin-top: 3px; }

  .root-tag {
    line-heigth: 0;
    a { padding: 2px 20px; }
  }

  .child-tag {
    line-heigth: 0;
    a { text-indent: 10px; padding: 0 20px; }
  }
}

div[data-tags-new] {
  form { margin: 10px 0; }

  .btn-group {
    margin-bottom: 10px;
  
    .btn {
      input[type="radio"] { display: none; }

      span { visibility: hidden; }

      &.selected {
        span { visibility: visible; }
      }
    }
  }
}
